services:
  app:
    build: .
    ports:
      - "5000:5000"
    networks:
      - monitor-network

  prometheus:
    build: ./prometheus
    ports:
      - "9090:9090"
    networks:
      - monitor-network
    depends_on:
      - app

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    networks:
      - monitor-network
    depends_on:
      - prometheus

networks:
  monitor-network:
    driver: bridge